<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/Extreme_Explorer/components/footer/footer.css">
</head>
<footer>
    <div class="footer-container">
        <div class="footer-links">
            <a href="#">Work with us</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Promotions</a>
            <a href="#">How we protect your privacy</a>
            <a href="#">Accessibility</a>
            <a href="#">Help / FAQ</a>
            <a href="#">www.example.gov</a>
        </div>
        <div class="footer-info">
            <p>Copyright © 2024 Project Scenario.</p>
            <p>123 Adventure Way, Sydney, Australia</p>
        </div>
    </div>
</footer>
