/* about.css */
.about-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.about-container h1, .about-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.about-container p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-container ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

.about-container ul li {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}
